@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #1A2A33;
  color: #A8BFC9;
}

html {
  font-size: 62.5%;
}

.hidden {
  display: none !important;
}

.center {
  position: absolute;
  left: 44%;
}

.bg-toggle {
  background-color: #A8BFC9;
}

.bg-hover:hover {
  background-color: #1f323d;
}

.container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 70vh;
  width: 48rem;
}
.container .header {
  position: relative;
  width: 98%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .header .player-turn-info {
  width: 15rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 1rem;
  background-color: #1F3641;
  box-shadow: 0 0.4rem 0 0 #111c22;
}
.container .header .player-turn-info img {
  width: 2.2rem;
  margin-right: 1rem;
}
.container .header .player-turn-info p {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.125rem;
}
.container .header .restart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 4.8rem;
  cursor: pointer;
  border-radius: 1rem;
  background-color: #A8BFC9;
  box-shadow: 0 0.4rem 0 0 #537685;
}
.container .header .restart:hover {
  background-color: #DBE8ED;
}
.container .new-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.container .new-game .new-game-vs-cpu, .container .new-game .new-game-vs-player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7rem;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
}
.container .new-game .new-game-vs-cpu {
  margin-bottom: 3rem;
  border-radius: 1.5rem;
  background-color: #F2B137;
  box-shadow: 0 0.7rem 0 0 #c1820d;
}
.container .new-game .new-game-vs-cpu:hover {
  background-color: #FFC860;
}
.container .new-game .new-game-vs-player {
  margin-bottom: 3rem;
  border-radius: 1.5rem;
  background-color: #31C3BD;
  box-shadow: 0 0.7rem 0 0 #1f7a76;
}
.container .new-game .new-game-vs-player:hover {
  background-color: #65E9E4;
}
.container .score-board {
  display: flex;
  justify-content: center;
}
.container .score-board .x-score-board, .container .score-board .tied-score-board, .container .score-board .o-score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 14rem;
  height: 7rem;
  color: #000;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
}
.container .score-board .x-score-board {
  border-radius: 1.5rem;
  background-color: #31C3BD;
  margin-right: 2.5rem;
}
.container .score-board .tied-score-board {
  border-radius: 1.5rem;
  background-color: #A8BFC9;
  margin-right: 2.5rem;
}
.container .score-board .o-score-board {
  border-radius: 1.5rem;
  background-color: #F2B137;
}
.container .score-board .x-score-value, .container .score-board .tied-score-value, .container .score-board .o-score-value {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
}
.container .body {
  width: 100%;
}
.container .body .grid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.container .body .grid .cell {
  width: 14rem;
  height: 13rem;
  background-color: #1F3641;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  border-radius: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0.8rem 0 0 #111c22;
}
.container .body .grid .cell:not(:nth-child(3)):not(:nth-child(6)):not(:nth-child(9)) {
  margin-right: 2.5rem;
}
.container .body .player-select-board {
  background-color: #1F3641;
  text-align: center;
  padding: 3rem;
  border-radius: 2rem;
  margin-bottom: 5rem;
  box-shadow: 0 0.8rem 0 0 #111c22;
}
.container .body .player-select-board p:first-of-type {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.container .body .player-select-board p:last-child {
  text-transform: uppercase;
  color: #537685;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
}
.container .body .player-select-option {
  background-color: #1A2A33;
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 1rem;
  cursor: pointer;
}
.container .body .player-select-option .o-mark, .container .body .player-select-option .x-mark {
  width: 50%;
  padding: 1rem 0;
  border-radius: 1rem;
}
.container .body .player-select-option .o-mark img, .container .body .player-select-option .x-mark img {
  width: 3.5rem;
}

.popup-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}
.popup-wrapper .popup {
  background-color: #1F3641;
  width: 100%;
  height: 28vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popup-wrapper .popup .msg-1 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.popup-wrapper .popup .declaration {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.popup-wrapper .popup .declaration p {
  text-transform: uppercase;
  margin-left: 2rem;
  color: #F2B137;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
}
.popup-wrapper .popup .action-btn-1, .popup-wrapper .popup .action-btn-2 {
  color: #000;
  padding: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.popup-wrapper .popup .action-btn-1 {
  margin-right: 1.5rem;
  border-radius: 1rem;
  background-color: #A8BFC9;
  box-shadow: 0 0.4rem 0 0 #537685;
}
.popup-wrapper .popup .action-btn-1:hover {
  background-color: #DBE8ED;
}
.popup-wrapper .popup .action-btn-2 {
  border-radius: 1rem;
  background-color: #F2B137;
  box-shadow: 0 0.4rem 0 0 #c1820d;
}
.popup-wrapper .popup .action-btn-2:hover {
  background-color: #FFC860;
}

@media screen and (max-width: 520px) {
  html {
    font-size: 55%;
  }
  .body .grid .cell img {
    width: 7rem;
  }
  .popup-wrapper .popup .declaration .winner-icon {
    width: 4rem;
  }
}
@media screen and (max-width: 470px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 420px) {
  html {
    font-size: 45%;
  }
  .container .header .restart img {
    width: 2.5rem;
  }
  .popup-wrapper .popup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 370px) {
  html {
    font-size: 40%;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 35%;
  }
  .popup-wrapper .popup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 290px) {
  html {
    font-size: 30%;
  }
  .popup-wrapper .popup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}