.container{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 70vh;
  width: 48rem;
  // border: .2rem solid;

  .header{
    position: relative;
    width: 98%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .player-turn-info{
      width: 15rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      @include btn($lightGunMetal);
      @include shadow($color: darken($gunMetal, 5));
      

      img{
        width: 2.2rem;
        margin-right: 1rem;
      }

      p{
        text-transform: uppercase;
        @include head-sm();
      }
    }

    .restart{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      height: 4.8rem;
      cursor: pointer;
      @include btn($bg-color: $pastelBlue);
      @include shadow($color: darken($pastelBlue, 30));
      @include hover($color: $azureishWhite);
    }
  }

  .new-game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .new-game-vs-cpu, .new-game-vs-player{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 7rem;
      color: #000;
      text-transform: uppercase;
      cursor: pointer;
      @include head-md();
    }
    .new-game-vs-cpu{
      margin-bottom: 3rem;
      @include btn($amber, $b-radius: 1.5rem);
      @include shadow($offset-y: 0.7rem, $color: darken($amber, 18));
      @include hover($color: $lightAmber);
    }
    .new-game-vs-player{
      margin-bottom: 3rem;
      @include btn($blueGreen, $b-radius: 1.5rem);
      @include shadow($offset-y: 0.7rem, $color: darken($blueGreen, 18));
      @include hover($color: $lightBlueGreen);
    }
  }

  .score-board{
    display: flex;
    justify-content: center;

    .x-score-board, .tied-score-board, .o-score-board{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 14rem;
      height: 7rem;
      color: #000;
      @include body-md();
    }

    .x-score-board{
      @include btn($blueGreen, $b-radius: 1.5rem);
      margin-right: 2.5rem;
    }

    .tied-score-board{
      @include btn($pastelBlue, $b-radius: 1.5rem);
      margin-right: 2.5rem;
    }

    .o-score-board {
      @include btn($amber, $b-radius: 1.5rem);
    }

    .x-score-value, .tied-score-value, .o-score-value{
      @include head-md();
    }
  }

  .body{
    width: 100%;

    .grid{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 2rem;

      .cell{
        width: 14rem;
        height: 13rem;
        background-color: $lightGunMetal;
        // padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
        border-radius: 1.5rem;
        cursor: pointer;
        @include shadow($offset-y: 0.8rem, $color: darken($gunMetal, 5));

        &:not(:nth-child(3)):not(:nth-child(6)):not(:nth-child(9)){
          margin-right: 2.5rem;
        }
      }
    }

    .player-select-board{
      background-color: $lightGunMetal;
      text-align: center;
      padding: 3rem;
      border-radius: 2rem;
      margin-bottom: 5rem;
      @include shadow($offset-y: 0.8rem, $color: darken($gunMetal, 5));

      p:first-of-type{
        text-transform: uppercase;
        margin-bottom: 2rem;
        @include head-xs();
      }
      p:last-child{
        text-transform: uppercase;
        color: darken($pastelBlue, 30);
        margin-top: 2rem;
        @include body-md();
        
      }
    }

    .player-select-option{
        background-color: $gunMetal;
        border-radius: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 1rem;
        cursor: pointer;

      .o-mark, .x-mark{
        width: 50%;
        padding: 1rem 0;
        border-radius: 1rem;
          
      img{
        width: 3.5rem;
        }
      }
    }
  }
}

.popup-wrapper{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.3);

  .popup{
    background-color: $lightGunMetal;
    width: 100%;
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .msg-1{
      text-transform: uppercase;
      margin-bottom: 2rem;
      @include head-xs();
    }

    .declaration{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 4rem;

      p{
        text-transform: uppercase;
        margin-left: 2rem;
        color: $amber;
        @include head-lg();
      }
    }

    .action-btn-1, .action-btn-2{
      color: #000;
      padding: 1.5rem;
      text-transform: uppercase;
      cursor: pointer;
      @include head-xs();
    }

    .action-btn-1{
      margin-right: 1.5rem;
      @include btn($pastelBlue);
      @include shadow($color: darken($pastelBlue, 30));
      @include hover($azureishWhite);
    }

    .action-btn-2{
      @include btn($amber);
      @include shadow($color: darken($amber, 18));
      @include hover($lightAmber);
    }
  }
}

@media screen and (max-width: 520px){
  html{
    font-size: 55%;
  }
  .body .grid .cell img{
    width: 7rem;
  }
  .popup-wrapper .popup .declaration .winner-icon{
    width: 4rem;
  }
}

@media screen and (max-width: 470px){
  html{
    font-size: 50%;
  }

  // .popup-wrapper .popup{
  //  // position: absolute;
  //   top: 20%;
  // }
}

@media screen and (max-width: 420px){
  html{
    font-size: 45%;
  }
  .container .header .restart img{
    width: 2.5rem;
  }
  .popup-wrapper .popup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 370px){
  html{
    font-size: 40%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 35%;
  }
  .popup-wrapper .popup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 290px) {
  html {
    font-size: 30%;
  }

  .popup-wrapper .popup{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}